@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* Import and use font family here */
  font-family: "Sora", sans-serif;
  overflow-x: hidden;
  background: #02091a;
}

* {
  box-sizing: border-box;
}

@layer components {
  .btn-common {
    @apply flex justify-center gap-2 px-[2rem] py-[.5rem] text-[0.85rem] transition-all duration-300 ease-in-out disabled:cursor-not-allowed disabled:opacity-50 md:text-[1rem];
  }

  .btn-ghost {
    @apply border-2 border-transparent hover:border-slate-50 hover:bg-slate-50;
  }

  .btn-outlined {
    @apply border-2 border-slate-400 hover:bg-slate-50;
  }

  .btn-solid {
    @apply border-2 border-white bg-white text-black hover:border-white hover:bg-white;
  }

  .common-space-x {
    @apply max-w-[1800px] px-4 md:px-20;
  }

  .text-basic {
    @apply text-[0.9rem] md:text-[1rem];
  }

  .text-small {
    @apply text-[0.8rem] md:text-[0.9rem];
  }

  .section-heading {
    @apply text-[1.1rem] font-[400] md:text-[1.5rem];
  }

  .section-heading-small {
    @apply text-[1.4rem] font-[00] md:text-[2rem];
  }

  .font-thin {
    @apply text-[0.8rem] font-[200] md:text-[0.9rem];
  }

  .lfont-thin {
    @apply text-[1rem] font-[200] md:text-[1rem];
  }

  .section-heading-Xsmall {
    @apply text-[1.4rem] font-[200] md:text-[1.2rem];
  }

  .card-heading {
    @apply text-[1.1rem] md:text-[1.2rem];
  }

  .banner-title {
    @apply text-[1.5rem] font-[700] sm:text-[3rem] md:text-[4rem] md:leading-[5rem];
  }

  .card-heading-v2 {
    @apply text-[2rem] md:text-[3rem];
  }

  .banner-subtitle {
    @apply text-[1rem] font-[400] md:text-[1.8rem];
  }

  .btn-primary {
    @apply btn-solid uppercase rounded-full;
  }

  .btn-secondary {
    @apply btn-outlined rounded-full border-[#024D83] hover:border-[#024D83];
  }

  .input-common {
    @apply border-b-2 py-1 text-[0.95rem] font-[700] outline-none focus:border-b-4 md:text-[1rem];
  }

  .input-cover {
    @apply border-[1.5px];
  }

  .input-line {
    @apply border-b-[1.5px] pb-1 pl-0;
  }
}